---
// Prerender this page as static
export const prerender = true;

import Layout from '~/layouts/Layout.astro';
import { useTranslations } from '~/i18n/utils';
import { languages } from '~/i18n';

export function getStaticPaths() {
  return Object.keys(languages).map(lang => ({
    params: { lang }
  }));
}

const { lang } = Astro.params;
const t = useTranslations(lang as keyof typeof languages);

const title = t('404.title');
const homeUrl = `/${lang}`;
---

<Layout metadata={{ title }}>
  <section class="flex items-center h-full p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="sr-only">{t('404.srError')}</span>
          <span class="text-primary">404</span>
        </h2>
        <p class="text-3xl font-semibold md:text-3xl">{t('404.heading')}</p>
        <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
          {t('404.description')}
        </p>
        <a rel="noopener noreferrer" href={homeUrl} class="btn ml-4">{t('404.backButton')}</a>
      </div>
    </div>
  </section>
</Layout>
