---
import Logo from '~/components/Logo.astro';
import { getLangFromUrl } from '~/i18n/utils';

// Set home URL with current language prefix
const homeUrl = `/${getLangFromUrl(Astro.url)}`;
---

<a id="smart-home-link" class="flex items-center" href={homeUrl} aria-label="Home">
  <Logo />
</a>


